.App {
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: 'flex';
  background-image: url(/img/bg01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

fieldset {
  font-family: 'Armata', 'sans-serif';
  text-transform: uppercase;
  font-weight: 700;
}

