#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 1rem;
}

.invalid {
  display: none;
  visibility: hidden;
}