#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.invalid-arrow {
  color: lightgrey;
}

.matching-arrow {
  color: greenyellow;
}

.matched-arrow {
  color: darkgray;
}

.exact-match {
  background-color: purple;
}